div#content {
   width: 650px;
}

header {
   text-align: center;

   span {
      font-size: 2.8rem;
      font-weight: 300;
   }

   h1 {
      font-size: 2.85rem;
      font-weight: 600;
      padding-left: 1px;
   }

   p {
      padding: 0 30px;
      font-size: 1.2rem;

   }
}

main {
   text-align: center;

   h2 {
      font-size: 2rem;
      padding-bottom: 20px;
   }

   img {
      margin: auto;
   }
}



@media screen and (min-width: 992px) {
   body {
      display: flex;
      flex-direction: column;
      height: 100vh;
   }

   header {
      margin: auto;
      width: 650px;
      margin-bottom: 60px;

      p {
         font-size: 1.1rem;
      }
   }

   main {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 160px);
      grid-template-areas:
         "supervisor . teamB . calculator"
         "    .      . karma .      .    "
      ;

      h2 {
         font-size: 1.5rem;
      }

      div.cards:nth-child(1) {
         grid-area: supervisor;
      }

      div.cards:nth-child(2) {
         grid-area: teamB;
      }

      div.cards:nth-child(3) {
         grid-area: karma;
      }

      div.cards:nth-child(4) {
         grid-area: calculator;
      }

      div.cards:nth-child(1),
      div.cards:nth-child(4) {
         transform: translateY(50%);
      }

      div.cards {
         width: 300px;
      }
   }

   footer {
      margin-top: auto;
   }
}



@media screen and (min-width: 1244px) {
   main {
      grid-template-columns: repeat(4, 205px);
      text-align: left;

      img {
         margin-right: 0;
      }

      div.cards {
         width: 390px;
         padding-left: 30px;

         h2 {
            padding-bottom: 0px;
         }
      }
   }

}
